
$color1 :#1b1b1b;
$color2 :#ff3234;
body {

    padding: 0;
    margin: 0;
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
 

}


main {
    margin-left: 5rem;
    padding: 1rem;
    border-radius: 40px 40px 0 0;
    overflow-x: hidden;
    
}
.text-h{
    
    flex-direction: inherit;
    margin: auto;
    background-color: #0000005d;
    margin-bottom: 2em;
    h1{

        text-align: center;
        font-size: 3vw;
    }
    p{
        color: white;
        font-size: 1vw;
    }
}
.navbar {
    width: 5rem;
    height: 100vh;
    position: fixed;
   z-index: 1;
    transition: 300ms ease;

    &:hover {
        width: 20rem;
        transition: 300ms ease;
    }
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    background-color: #000000;
}

.nav-item {
    width: 100%;

}


.social{
    width: 100%;
    display: flex;
    justify-content: center;
gap: 2em;
margin-top: 8em;
margin-bottom: 2em;
i.fab {
    font-size: 3em;
    color: #ff3234;
}
}

.nav-item:last-child  {
    margin-top: auto;
}

.nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    text-decoration: none;
    color: $color2;

    svg {
        width: 2em;
        min-width: 2rem;
        margin: 0 1.5rem;
    }

    .fab {
        font-size: 2rem;
    }

    .far {
        font-size: 2rem;
        margin: 0 1.5rem;
    }

    &:hover {
        color: white;
    }
}


.link-text {
    display: none;
    margin-left: 1rem;
}

.navbar:hover .link-text {
    display: block;

}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    letter-spacing: 0.3ch;

}



.home-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap-reverse;

}

.video-container {
    position: relative;
  }
  video {
    height: auto;
    vertical-align: middle;
    width: 100%;
  }
  .overlay-desc {
    background: rgba(0,0,0,0);
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        color: white;
        font-size: 2vw;
        text-align: center;
      }
  }
 
.pg {
    width: 36vw;
    padding-left: 1em;
    display: flex;
    flex-direction: column;
   text-align: center;

}

.book {
    background-color: $color1;
    padding: 1em;
    text-decoration: none;
    margin-bottom: 1em;
    color: $color2;
font-weight: bold;
text-align: center;
font-size: 2vw;
margin: auto;
    &:hover{
        background-color: $color2;
        color: $color1;
    }
}

.promo {
    background-color: $color1;
    padding: 1em;
    text-align: center;
    font-weight: 700;
    color: $color2;
}

.why {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    JUSTIFY-CONTENT: center;
    flex-direction: row;
    align-items: center;
    margin-top: 2em;

}



.why-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 2em;
}

.p-container {
    padding: 2em;
    text-align: center;

    h1 {

        font-size: 4em;
    }
    span{
        color: $color2;
    }
}
p.why-p {
    width: 70vw;
}

    .why-us{
        font-size: 4em;
        text-align: center;
        
        span{
            color: $color2;
        }
    
}
.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2em;
}

.card {
    text-align: center;

    p {
        width: 41vw;
    }
    
}




@media (max-width: 380px) {

    select,
    #days_count {
      width: 17em;
    }

    .submit {
      width: 14em;
    }
    .contact-form {

      input,
      textarea {
        width: 18em;
      }
    }

    .result-sub {
      width: 14em;
    }
    

    .result-sub {
       display: grid;
        gap: 1px;
       
    }


    
  }
  @media screen and (max-width: 340px){
    #days_count{

        width: 90vw;
    } 
  }

  @media only screen and (max-width: 480px){
    p.why-p {
        width: 16em;
    }
        .p-container h1 {
            font-size: 3em;
        }
        .card p {
            width: 60vw;
        }
    }
@media (max-width:560px) {

  select,
  #days_count {
    width: 20em;
  }

  .submit {
    width: 16.5em;
  }

  .contact-form {

    input,
    textarea {
      width: 23em;
    }
  }

  .result-sub {
    display: flex;
    width: 100%;
}
}

@media only screen and (max-width: 600px) {
  
    .navbar:hover {
        width: 100vw;
    }
    .nav-link svg {
        width: 0em;
        min-width: 2rem;
        margin: 0;
    }
    .navbar {
        bottom: 0;
        width: 100vw;
        height: 5rem;
    }

    .navbar:hover .link-text {
        display: none;

    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
        margin-bottom: 5em;
    }
    .pg {
        width: 80vw;
    }
    p.why-p {
        width: 20em;
    }
    #days_count , select{
        width: 23em;
    }
    .overlay-desc h1 {
        color: white;
        font-size: 4vw;
        text-align: center;
    }
    .text-h p {
        color: white;
        font-size: 2vw;
    }
}

  @media screen and (max-width:760px) {
    .contact-side {
      display: none;
    }
    .column {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  @media screen and (max-width: 991px) {
    .nav-list {
      display: none;
    }

    .showcase,
    .showcase header {
      padding: 40px;
    }

    .showcase {

      .text h2 {
        font-size: 3em;
        line-height: 49px;
      }

      .text p {
        font-size: 1em;
      }
    }



    .contact-side {
      display: none;
    }
    .column {
      -ms-flex: 50%;
      flex: 50%;
      max-width: 50%;
    }
  }






@media only screen and (max-width:988px) {
    .pg {
        width: 75vw;
    }
}
/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        top: 0;
        width: 5rem;
        height: 100vh;
    }

    .navbar:hover {
        width: 16rem;
    }

    .navbar:hover .link-text {
        display: inline;
    }

    .navbar:hover .logo svg {
        margin-left: 11rem;
    }

    .navbar:hover .logo-text {
        left: 0px;
    }
    .book{
    font-size:1vw;
    margin: auto;
    }
}
@media only screen and (min-width: 1800px){
    .result-sub{
        width: 28em;
    }
}
