
@media only screen and (min-width: 718px){
    iframe{
        width:400px;
        height:300px;
    }
    .location{
        display: flex;
        flex-direction: row;
        margin: 45px 19px;
        
    }
    .p5 p {
        padding: 20px;
        font-weight: bold;
        font-size: 26px;
        line-height: 32px;
        color: #000000;  
    }


}

@media only screen and (min-width: 768px){
    .book-img img{
        height: 20vw;
        }
        .book-ad{
            display: flex;
            justify-content: center;
        }
        #p3 {
            font-size: 18px;
        }
        .text-container{
            padding: 7rem;
            } 
            
}

@media only screen and (min-width: 900px){
    .book-fair{
        display:flex;
        justify-content: center;
    }
    .fair-img img{
        width: 100%;
        
    }
    .fair-txt{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .map{
        object-position: center;
        
    }

    .annouce-title{
        padding: 3rem;
    }
    
}
