:root {
    --color1: #000000;
    --color2: #282727;
    --color3: #81256C;
    --color4: #B32137;
    --white: #ffffff;
    --grey: rgba(0,0,0, .1);
  }
  *{
      color: var(--color1);
  }
  #h-l{
    color: var(--color4);
}

.discover{
    text-align: center;
    background-image: url(extra/discoverbooks.png);
    background-size: cover;
}
.wew{
    padding: 3rem;
    font-weight: bolder;
    color: #ffffff;
}
.card-event {
    display: flex;
    margin: 2em;
    justify-content: center;
    
}
.card-event img{
    max-width: 300px;
    transition: 350ms;
    
}
.card-event:hover{
    transform: translateY(-10px);
    transition: 350ms;
}


.top-event{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(129,37,108,1) 0%, rgba(179,33,55,0.6166841736694677) 50%, rgba(175,33,59,0.6334908963585435) 75%);
}
.input{
    padding: 20px 20px;
    display: flex;
    justify-content: center;
    

}
#sub-txt{
    color: black;
    padding:0 20px 20px 20px;
}
#inp{
    
    max-width: 30rem;
    
    width: 75%;
    height: 50px;
    padding: 20px;    
}
.btn-sub{
    background-color: black;
    color: var(--white);
    height:50px ;
    width: 10rem;
    border: none;
}  
.card-c{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}  
.up-event-c{
display: flex;
position: relative;
flex-direction: column;
justify-content: center;
}    

.event-search{
    text-align: center;
    margin-top: 30px;
}
.upcoming-events{
    margin: 3em;
}

.up-events-t{
    font-weight: bolder;
    text-align: center;
    margin-bottom: 2em;
}

.festival-t{
    background-image: url(extra/festival_.png);
   background-size: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

.festival-card{
    
    background-size: cover;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    

}

.c3 , .c2 , .c1{
    background-color: #B32137;
}
#f , #d{
    
    color: #ffffff;
    font-weight: bolder;
    padding: 40px;
}
#f{
    background-image: url(extra/29.New-Suns-on-Level-G-of-the-Barbican-Centre\,-October-2019\,-CREDIT-Ralph-Pritchard.png);
    background-size: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
#d{
    background-color: #81256c6b;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}
.btn-f{
    position: absolute;
    bottom: 0;
    right: 0;
    
    height: 50px;
    width: 150px;
    background-color: #000000;
    color: #ffffff;
    
}
.btn-f:hover{
    background-color: var(--color4);
    color: var(--white);

}
.card-e {
    margin: 10px;
    max-width: 300px;
    transition: 350ms;
}
.card-e:hover{
    transform: translateY(-10px);
    transition: 350ms;
}
#discover{
    font-weight: bolder;
    text-align: center;
    background-image: url(extra/discoverbooks.png);
    background-size: cover;
    padding: 3rem;
    color: var(--white);
}
.featured{
    text-align: center;
    margin: 2rem;
    font-weight: bolder;
}

.books{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 6rem;

}

.books-container{
    margin: 30px;
    max-width: 80vw;
    transition: 350ms;
}
.books-container:hover{
   
    transform: translateY(10px);
    transition: 350ms;
    
}
.b-description{
    display: none;
}
.bookS-container:hover + .b-description {
    display: block;
    color: #B32137;
    
  }
.book-image{
    width: 100px;
    
}
.book-d{
    
    text-align: center;
    font-size: 10px;
    
}

.picks{
    text-align: center;
    font-weight: bold;
    
}
.pick-container{
    margin: 20px;
    text-align: center;
}
.pick-img{
    max-width: 10em;
}

#aboutA{
    font-weight: bold;
}
.pick-desc{
    margin: 10px;
    font-size: 1em;
    max-width: 20em;
}
.picks-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.dsr-txt {
    padding:35px;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    background-color: black;
    color: white;
    padding-bottom: 65px;
}

.location{
    display: flex;
    flex-direction: column;
    align-items: center;
}
iframe{
    width:70vw;
    height:300px;
}
.p5 p{
    font-size: 24px;
    margin: 1rem;
    font-weight: bold;
}